{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ vinyl.artist }} - {{ vinyl.album }}</span>
                <p>Genre: {{ vinyl.get_genre_display }}</p>
                <p>Released: {{ vinyl.release_date }}</p>
                <hr>
                <p>Description: {{ vinyl.description }}</p>
            </div>

            <div class="card-action">
                <a href="{% url 'vinyls_update' vinyl.id %}">Update</a>
                <a href="{% url 'vinyls_delete' vinyl.id %}">Remove</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}