{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit your collection of {{object.album}}</h1>
{% else %}
    <h1>Add a new Vinyl</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <input class="btn" type="submit" value="{% if object %} Edit {% else %} Add {% endif %}">
</form>

<script>
    var dateEl = document.getElementById('id_release_date');
    M.Datepicker.init(dateEl, {
        format: 'mmmm dd, yyyy',
        defaultDate: new Date(),
        // minDate: new Date('January 1, 1990'),
        maxDate: new Date(),
        yearRange: 90,
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_genre');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}