{% extends 'base.html' %}

{% block content %}

    <h1>About Us</h1>
    <hr/>
    <h6>VINT was created for vinyl collectors. It is a web app that allows users to post, update and delete the contents of their own vinyl collection.</h6>
    <h5 id="developers">Developers</h5>
    <div class="col s6 row valign-wrapper">
        <img id="linkedin" src="https://www.nicepng.com/png/detail/19-198727_png-file-linkedin-icon-png-black.png" alt="linkedin">
        <a href="https://www.linkedin.com/in/vonvbell/" class="white-text">Von Bell</a>
    </div>

{% endblock %}