{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VINT</title>
    <!-- Materialize CSS -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body id="body-homepage">
    <header class="navbar-fixed grey darken-4">
        <nav class="grey darken-4">
            <div class="nav-wrapper grey darken-4 container" id="base-nav">
                <ul class="left">
                    <li>
                        <a href="/" class="left brand-logo"><img src="{% static 'images/vint_word.svg' %}" alt="logo" class="responsive-img" id="vint_word"></a>
                        <!-- <svg><use class="vint_word" xlink:href="#vint_word" href="#vint_word"></use></svg> -->
                        <!-- <a href="/"><img src="{% static 'images/vint_logo_w_name.svg' %}" alt="logo" style="height: 70px;" class="circle responsive-img" id="logo-image"></a> -->
                        <!-- <a href="/" class="left brand-logo">&nbsp;VINT&nbsp;</a> -->
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">View Collection</a></li>
                    <li><a href="{% url 'vinyls_create' %}">Add a Vinyl</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li>|</li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    
    <footer class="page-footer grey darken-4">
        <div class="right">
            All Rights Reserved, &copy; 2022 VINT &nbsp;
        </div>
    </footer>
    
</body>
</html>