* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: sans-serif, Helvetica, Arial;
    color: whitesmoke;
    background-color: rgb(18,17,18);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../images/home_background.svg') no-repeat;
    background-size: cover;
    height: 100%;
}


#img-detail {
    display: flex;
    align-content: center;
}

main {
    /* flex: 1 0 auto; */
    flex-grow: 1;
}

/* header {
    background-color: #616161;
} */

footer {
    background-color: #616161;
    padding-top: 0;
    text-align: right;
}

.card {
    background-color: rgb(18,17,18);
}

#album-detail {
    font-size: 12vh;
}

input {
    color: whitesmoke;
}

#home-content {
    color: rgb(223,78,86);
    position: relative;
}